@import url('https://rsms.me/inter/inter.css');

.weather-card {
  border-radius: 20px;
  background: rgba(15, 27, 30, 0.38);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.70);
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr, auto); /* Three rows */
  display: grid;
  padding: 20px;
  color: white;
  margin: 20px;
  position: relative;
}

.weather-card-icon {
  transform: scale(1.5);
}

.weather-visual {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 10;
}

.weathercard-description-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.weathercard-temperature-section {
  display: flex;
  align-items: flex-end;
  grid-column-start: 2;
  flex-direction: column;
}

.weathercard-temperature {
  color: #FFF;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weathercard-date,
.weathercard-city,
.feels-like {
  color: rgba(255, 255, 255, 0.50);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.weather-description {
  color: #FFF;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: flex-start;
}

.weathercard-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cyclist-icon {
  height: 2rem;
  width: 2rem;
  padding: 5px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  padding-top: 40px;
}
