@import url('https://rsms.me/inter/inter.css');

.comfort-index {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-content {
  position: absolute;
}

.comfort-text {
  color: rgba(255, 255, 255, 0.50);
  text-shadow: 2px 4px 4px #1F3653;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 65%;
}
