
.weather-alert {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.comfort-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
