.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: white;
}

.menu-icon,
.settings-icon {
  width: 2rem;
  height: 2rem;
}

.location-form-container {
  display: flex;
  align-items: center;
}

.location-form {
  display: flex;
  align-items: center;
}

.location-input {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-family: Inter;
  font-weight: 500;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  margin-right: 1rem;
  color: white;
}

.location-input:focus {
  outline: none;
  border-color: white;
}

.use-my-location-container {
  margin-right: 1rem;

}


@media (max-width: 500px) {
  .header {
    margin-top: -3rem;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  }

  .location-form-container {
    flex: 1; /* Allow the container to fill the available space */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;

  }

  .location-form {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem; /* Reset margin between form and button */
  }

  .use-my-location-container {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: -1rem;
  }

  .location-input {
    width: calc(100% - 40px); /* Subtract the size of the icon */
    margin-right: 0; /* Reset margin between input and icon */
  }

  .menu-icon,
  .settings-icon {
    width: 1.5rem; /* Adjust icon sizes for mobile */
    height: 1.5rem;
  }
}

