.forecast-group {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px 20px 20px;
  overflow-x: auto; /* Allows scrolling on smaller screens */
}

.forecast-group-child-card {
  padding: 10px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) { /* Adjust the max-width as needed */
  .forecast-group {
    justify-content: flex-start; /* Aligns items to the start of the container */
  }

  .forecast-group::before,
  .forecast-group::after {
    content: '';
    flex: 0 0 10px; /* Adds space before the first item and after the last item */
  }
}
  